body {
  margin: 0;
  padding: 0;
  background-color: #202124;
  color: #e8eaed;
}
input,
button {
  color: #e8eaed;
  background-color: #303134;
  border-color: #202124;
  border: 3px;
  font-size: 20px;
}

/* Add Task */
.addTaskContainer {
  margin: auto;
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2% 0;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#taskInput {
  padding: 10px 15px;
  font-size: 20px;
  flex-basis: 30%;
  height: 40px;
  border-radius: 5px 0 0 5px;
}

#addTaskBtn {
  height: 60px;
  flex-basis: 10%;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
}
#addTaskBtn:hover {
  background-color: #5b5b5e;
  border-radius: 5px;
}

/* Task Styling */

#taskContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  flex-wrap: wrap;
}

.task {
  display: flex;
  gap: 10px;
  margin: 2%;
  border: 2px double white;
  border-radius: 10px;
  width: max-content;
  flex-basis: 100%;
}
.task button {
  padding: 2% 5%;
  border-radius: 10px;
}
.timer {
  margin: auto;
  font-size: 30px;
}
.timer i {
  padding: 10px;
}

.task i {
  margin: auto;
  font-size: 30px;
}
.description {
  margin: auto;
}
